html, body, #root, .App {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

.App .main-container {
  flex-grow: 1;
  padding: 20px;
  max-height: calc(100vh - 102px);
  overflow: auto;
}
.App header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  flex-shrink: 0;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: 000000;
}
.App footer {
  height: 20px;
  margin: 10px 20px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #CCCCCC;

  border-top: 1px solid #CCCCCC;

}

